<div class="container">
    <div class="inside-container">

        <!-----------  Elements of left side-------------- -->
        <div class="left-element">
            <img src="../icons/Ostad_logo.png" alt="">
            <!-- <div class="search"><input type="text"></div> -->
            <button ><img src="../icons/ostad-search.svg" alt=""><span>কোর্স সার্চ করুন</span></button>

            <div>কোড মামা</div>
            <div>ফ্রী কোর্সেস</div>
            <div>ব্লগ</div>
            <div class="download"><span>ডাউনলোড</span> <img src="../icons/arrow-down-s-line.svg" alt=""></div>
        </div>

        <!-----------  Elements of right side-------------- -->

        <div class="right-element">
            <div class="language">
                <img src="../icons/flag.png" alt="">
                EN
            </div>
            <div class="all-course">
                সব কোর্স
                <img src="../icons/arrow-down-s-line.svg" alt="">
            </div>
            <div class="login">
                লগইন
                <img src="../icons/arrow-right-line.svg" alt="">
            </div>
        </div>
    </div>
</div>