<div class="section5">
   <div class="career-section">
       <div class="title1">ক্যারিয়ার গোল সেট করুন</div>
       <div class="title2">নিচের অপশন গুলো থেকে আপনার গোল সিলেক্ট করে শেখা শুরু করুন</div>
       <div class="contents">
               <div class="box1">
                   <div><img src="../images/code-box-line.png" alt=""></div>
                   <span>Web & App Development</span>
                   <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
               </div>
               <div class="box1">
                <div><img src="../images/product-design.png" alt=""></div>
                <span>Product Management & Design</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
            <div class="box1">
                <div><img src="../images/business-and-marketing.png" alt=""></div>
                <span>Business & Marketing</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
            <div class="box1">
                <div><img src="../images/data-eng.png" alt=""></div>
                <span>Data Engineering</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
            <div class="box1">
                <div><img src="../images/creatives.png" alt=""></div>
                <span>Creatives</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
            <div class="box1">
                <div><img src="../images/Cyber Security.png" alt=""></div>
                <span>Cyber Security</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
            <div class="box1">
                <div><img src="../images/block-chain.png" alt=""></div>
                <span>Blockchain Development</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
            <div class="box1">
                <div><img src="../images/higher-studies.png" alt=""></div>
                <span>IELTS Preparation</span>
                <p>• ২৯ টি কোর্স • ৫ টি ওয়ার্কশপ</p>
            </div>
       </div>
    </div>
</div>