<div class="section1">
    <div class="section1-container">
         <div class="left-box">
            <div class="header1">
                <p class="black">বাংলাদেশ শিখবে</p>
                <p class="red">লাইভে</p>
                <div class="circle"></div>
            </div>

            <div class="header2">
                স্কিল শেখার মাধ্যমে বদলে ফেলুন নিজের ভবিষ্যৎ
            </div>

            <div class="header-button">
                শেখা শুরু করুন
                <img src="../icons/arrow-right-line.svg" alt="">
            </div>

             <span>৭০০০+ গ্র্যাজুয়েটরা কর্মরত আছেন বিভিন্ন দেশি ও বিদেশি প্রতিষ্ঠানে</span>
             <div class="companies">
                  <div class="img-row1">
                    <img src="../icons/Brainstation.webp" alt="">
                    <img src="../icons/TECHNOSOFT-LOGO.webp" alt="">
                    <img src="../icons/Excel.webp" alt="">
                    <img src="../icons/Gtr.webp" alt="">
                  </div>

                  <div class="img-row2">
                    <img src="../icons/ashtha it.webp" alt="">
                    <img src="../icons/TECHNOSOFT-LOGO.webp" alt="">
                    <img src="../icons/Reve systems.webp" alt="">
                    <img src="../icons/Sofol it.webp" alt="">
                    <img src="../icons/CORE_DEVS.png" alt="">
                    <img src="../icons/SAYBURGH.png" alt="">
                    <img src="../icons/ANCHOR.png" alt="">
                  </div>
                  
                  
                  
             </div>

         </div>
         <div class="right-box"></div>
    </div>
</div>