<div class="section2">
    <div class="section2-container">
         <div class="title">
            <div>আমাদের কোর্সসমুহ</div>
            <img src="../icons/book-2-icons.svg" alt="">
         </div>

         <div class="subtitles">
            <div class="sub-title">
                <div class="img-icon"><img src="../icons/business-and-marketing.png" alt=""></div>
                <div>
                   <span style="font-size: 14px;font-weight:500;">Business & Marketing</span>
                    <p style="font-size: 11px;">৭• কোর্স• ৬ ওয়ার্কশপ</p>
                </div>
            </div>
   
   
            <div class="sub-title">
               <div class="img-icon"><img src="../icons/data-eng.png" alt=""></div>
               <div>
                  <span style="font-size: 14px;font-weight:500;">Data Engineering</span>
                   <p style="font-size: 11px;">৬• কোর্স• ২ ওয়ার্কশপ</p>
               </div>
           </div>
   
           <div class="sub-title">
               <div class="img-icon"><img src="../icons/creatives.png" alt=""></div>
               <div>
                  <span style="font-size: 14px;font-weight:500;">Creatives</span>
                   <p style="font-size: 11px;">৫• কোর্স• ২ ওয়ার্কশপ</p>
               </div>
           </div>
   
           <div class="sub-title">
               <div class="img-icon"><img src="../icons/higher-studies.png" alt=""></div>
               <div>
                  <span style="font-size: 14px;font-weight:500;">IELTS Preparation</span>
                   <p style="font-size: 11px;">৫• কোর্স• ১ ওয়ার্কশপ</p>
               </div>
           </div>
         </div>

         <div class="all-courses">
            <div>
                <div class="courses card1 img"></div>
                <div class="info">
                     <div class="box">ব্যাচ ৭</div>
                     <div class="box">
                        <img src="../icons/team-line.svg" alt="">
                        ২৩৩ সিট বাকি
                     </div>
                     <div class="box">
                        <img src="../icons/time-line.svg" alt="">
                        ৪৯ দিন বাকি
                     </div>
                </div>
                <div class="title"><span>App Development with Flutter</span></div>
                <div class="common-div">
                    <div class="details-button-bg">
                        <span>বিস্তারিত দেখি</span>
                        <img src="../icons/arrow-right-line.svg" alt="">
                    </div>
                </div>
            </div>


            
            <div>
                <div class="courses card2"></div>
                <div class="info">
                    <div class="box">ব্যাচ ৪</div>
                    <div class="box">
                       <img src="../icons/team-line.svg" alt="">
                       ২০৬ সিট বাকি
                    </div>
                    <div class="box">
                       <img src="../icons/time-line.svg" alt="">
                       ২৭ দিন বাকি
                    </div>
               </div>
               <div class="title"><span>Full Stack Web Development with PHP, Laravel & Vue JS
               </span></div>
               <div class="common-div">
                   <div class="details-button-bg">
                       <span>বিস্তারিত দেখি</span>
                       <img src="../icons/arrow-right-line.svg" alt="">
                   </div>
               </div>
            </div>
           



            <div>
                <div class="courses card3"></div>
                <div class="info">
                    <div class="box">ব্যাচ ৭</div>
                    <div class="box">
                       <img src="../icons/team-line.svg" alt="">
                       ২৩৩ সিট বাকি
                    </div>
                    <div class="box">
                       <img src="../icons/time-line.svg" alt="">
                       ৪৯ দিন বাকি
                    </div>
               </div>
               <div class="title"><span>Coding Interview Preparation (Local+Remote Job)</span></div>
               <div class="common-div">
                   <div class="details-button-bg">
                       <span>বিস্তারিত দেখি</span>
                       <img src="../icons/arrow-right-line.svg" alt="">
                   </div>
               </div>
            </div>

            <div><div class="courses card4"></div>
            <div class="info">
                <div class="box">ব্যাচ ৭</div>
                <div class="box">
                   <img src="../icons/team-line.svg" alt="">
                   ২৩৩ সিট বাকি
                </div>
                <div class="box">
                   <img src="../icons/time-line.svg" alt="">
                   ৪৯ দিন বাকি
                </div>
           </div>
           <div class="title"><span>Database for Software Developers</span></div>
           <div class="common-div">
               <div class="details-button-bg">
                   <span>বিস্তারিত দেখি</span>
                   <img src="../icons/arrow-right-line.svg" alt="">
               </div>
           </div>
        </div>
            <div> <div class="courses card5"></div>
            <div class="info">
                <div class="box">ব্যাচ ৭</div>
                <div class="box">
                   <img src="../icons/team-line.svg" alt="">
                   ২৩৩ সিট বাকি
                </div>
                <div class="box">
                   <img src="../icons/time-line.svg" alt="">
                   ৪৯ দিন বাকি
                </div>
           </div>
           <div class="title"><span>Full Stack Web Development with JavaScript (MERN)</span></div>
           <div class="common-div">
               <div class="details-button-bg">
                   <span>বিস্তারিত দেখি</span>
                   <img src="../icons/arrow-right-line.svg" alt="">
               </div>
           </div>
        </div>
            <div><div class="courses card6"></div>
            <div class="info">
                <div class="box">ব্যাচ ৭</div>
                <div class="box">
                   <img src="../icons/team-line.svg" alt="">
                   ২৩৩ সিট বাকি
                </div>
                <div class="box">
                   <img src="../icons/time-line.svg" alt="">
                   ৪৯ দিন বাকি
                </div>
           </div>
           <div class="title"><span>WordPress Theme Development</span></div>
           <div class="common-div">
               <div class="details-button-bg">
                   <span>বিস্তারিত দেখি</span>
                   <img src="../icons/arrow-right-line.svg" alt="">
               </div>
           </div>
        </div>
            <div> <div class="courses card7"></div>
            <div class="info">
                <div class="box">ব্যাচ ৭</div>
                <div class="box">
                   <img src="../icons/team-line.svg" alt="">
                   ২৩৩ সিট বাকি
                </div>
                <div class="box">
                   <img src="../icons/time-line.svg" alt="">
                   ৪৯ দিন বাকি
                </div>
           </div>
           <div class="title"><span>Full Stack Web Development  with <br>Python, Django & React</span></div>
           <div class="common-div">
               <div class="details-button-bg">
                   <span>বিস্তারিত দেখি</span>
                   <img src="../icons/arrow-right-line.svg" alt="">
               </div>
           </div>
        </div>
            <div><div class="courses card8"></div>
            <div class="info">
                <div class="box">ব্যাচ ৭</div>
                <div class="box">
                   <img src="../icons/team-line.svg" alt="">
                   ২৩৩ সিট বাকি
                </div>
                <div class="box">
                   <img src="../icons/time-line.svg" alt="">
                   ৪৯ দিন বাকি
                </div>
           </div>
           <div class="title"><span>ASP.NET Core Career<br> Track</span></div>
           <div class="common-div">
               <div class="details-button-bg">
                   <span>বিস্তারিত দেখি</span>
                   <img src="../icons/arrow-right-line.svg" alt="">
               </div>
           </div>
        </div>
         </div>

         <div class="end-button">
            সব দেখুন
            <img src="../icons/arrow-right-line.svg" alt="">
         </div>
         
    </div> 
</div>
