<div class="section6">
    <div class="career-section1">
        <div class="title1">কি কি পাচ্ছেন লাইভ কোর্সে</div>
        <div class="title2">দেখে নিন কি কি পাচ্ছেন ওস্তাদের লাইভ কোর্সে জয়েন করলে</div>
        <div class="contents1">
                
             <div class="box1 t1">
                 <div><img src="../images/icon-1.png" alt=""></div>
                 <span>ইন্ডাস্ট্রি ফোকাসড লাইভ কোর্সেস</span>
                 <p>জয়েন করুন গাইডলাইন সমৃদ্ধ ইন্ডাস্ট্রি ফোকাসড লাইভ কোর্সে, শুরু করুন আপনার ক্যারিয়ারের জার্নি।</p>
             </div>
             <div class="box1 t2">
                 <div><img src="../images/icon-2.png" alt=""></div>
                 <span>ইন্টারেকটিভ লাইভ ক্লাস</span>
                 <p>ইন্ডাস্ট্রি এক্সপার্টদের সাথে নিয়মিত লাইভ ক্লাস, কনসেপচুয়াল ক্লাস আর সাপোর্ট ক্লাসে স্কিল ডেভেলপমেন্ট এখন হবে একদম পরিপুর্ন।</p>
             </div>
             <div class="box1 t3">
                 <div><img src="../images/icon-3.png" alt=""></div>
                 <span>মডিউল ভিত্তিক স্টাডি প্ল্যান</span>
                 <p>কুইজ, এসাইনমেন্ট আর লাইভ এক্সাম দিয়ে সাজানো মডিউলভিত্তিক গোছানো স্টাডিপ্ল্যানের সাথে ছিটকে পড়ার কোনো চান্সই নেই।</p>
             </div>
             <div class="box1 t4">
                 <div><img src="../images/icon-4.png" alt=""></div>
                 <span>রিয়েলটাইম প্রোগ্রেস ট্র্যাকিং</span>
                 <p>ট্র্যাক করুন আপনার প্রোগ্রেস রিয়েল টাইম, দেখে নিন লিডার বোর্ডে আপনার পজিশন আর কম্পিটিশনে এগিয়ে যান সবার থেকে।</p>
             </div>
             <div class="box1 t5">
                 <div><img src="../images/icon-5.png" alt=""></div>
                 <span>শিখুন ইন্ডাস্ট্রি এক্সপার্টদের থেকে লাইভে</span>
                 <p>স্কিল ডেভেলপ করুন ইন্ডাস্ট্রির সেরা এক্সপার্টদের সাথে, প্রশ্ন করুন আর শিখে নিন সরাসরি, লাইভে।</p>
             </div>
             <div class="box1 t6">
                 <img src="../images/icon-6.png" alt="">
                 <span>ইন্টেন্সিভ জব প্লেসমেন্ট সাপোর্ট</span>
                 <p>কোর্স কমপ্লিটে পাচ্ছেন জব প্লেসমেন্ট টিমের থেকে লাইফটাইম সিভি, প্রোফাইল বিল্ড এবং জব এপ্লিকেশনসহ ইন্টেন্সিভ জব প্লেসমেন্ট সাপোর্ট। </p>
             </div>
        </div>
     </div>
 </div>