<div class="section-4-main-container">
    <div class="section4-content">

          <div class="header1">ফ্রি ওয়েবিনার দেখুন</div>
          <div class="header2">দেখে নিন কি কি পাচ্ছেন ওস্তাদের লাইভ কোর্সে জয়েন করলে</div>
          <div class="header3">
             <img src="../icons/Webinar123.svg" alt="">
             <p style="color: #ffffff;font-size: 26px;line-height: 130% !important;
             font-weight: 700 !important;">আপকামিং লাইভ ওয়েবিনার</p>
             <div class="break-line"></div>
          </div>
          <div class="header4">
            <div class="webinar">
                <div class="inside-webniar">
                     <img src="../images/card1.jpg" alt="">
                     <div class="title">• Web & App Development</div>
                     <p>অ্যাপ ডেভেলপার হিসেবে ইন্টারভিউতে যে ...</p>
                    <span >বৃহস্পতিবার, ৯ মে, রাত ৯:০০</span>
                     <div style="font-size: 14px;font-weight:600;" class="box">বিস্তারিত দেখি</div>
                </div>
            </div>
            <div class="webinar">
                <div class="inside-webniar">
                    <img src="../images/UI UX Thumb.jpg" alt="">
                    <div class="title">• Product Management</div>
                    <p>UI/UX ডিজাইনার হওয়ার ব্যাসিক ট্যু এডভান্সড ..</p>
                   <span >বৃহস্পতিবার, ৯ মে, রাত ৯:০০</span>
                    <div style="font-size: 14px;font-weight:600;" class="box">বিস্তারিত দেখি</div>
               </div>
            </div>
            <div class="webinar">
                <div class="inside-webniar">
                    <img src="../images/SEO Thumb.jpg" alt="">
                    <div class="title">• Business & Marketing</div>
                    <p>SEO এক্সপার্ট ক্যারিয়ার রোডম্যাপ</p>
                   <span >বৃহস্পতিবার, ৯ মে, রাত ৯:০০</span>
                    <div style="font-size: 14px;font-weight:600;" class="box">বিস্তারিত দেখি</div>
               </div>
            </div>
            <div class="webinar">
                <div class="inside-webniar">
                    <img src="../images/Full Stack Web Development with PHP, Laravel & Vue JS (1).jpg" alt="">
                    <div class="title">• Web & App Development</div>
                    <p>জুনিয়র লারাভেল <br> ডেভেলপার হিসেবে জব ...</p>
                   <span >বৃহস্পতিবার, ৯ মে, রাত ৯:০০</span>
                    <div style="font-size: 14px;font-weight:600;" class="box">বিস্তারিত দেখি</div>
               </div>
            </div>
        </div>
        <div class="header3">
            <img src="../images/VideosBLUE.svg" alt="">
            <p style="color: #ffffff;font-size: 26px;line-height: 130% !important;
            font-weight: 700 !important;">প্রিভিয়াস ওয়েবিনারস</p>
            <div class="break-line"></div>
         </div>
         <div class="header4">
            <div class="webinar">
                <div class="inside-webniar">
                     <img src="../images/Data Science & Machine Learning with Python for Beginners.png.jpg" alt="">
                     <span class="details1">Data Science & Machine Learning with Python for Beginners</span>
                     <p>ডেটা সায়েন্স: মেশিন লার্নিং মাস্টারক্লাস</p>
                     <div class="dekhun"style="margin-top: 45px;">দেখুন</div>
                </div>
            </div>
            <div class="webinar">
                <div class="inside-webniar">
                    <img src="../images/wordpress.jpg" alt="">
                    <span class="details2">WordPress Theme Development</span>
                    <p>এলিমেন্টর মাস্টারক্লাস </p>
                    <div class="dekhun" style="margin-top: 90px;">দেখুন</div>
               </div>
            </div>
            <div class="webinar">
                <div class="inside-webniar">
                    <img src="../images/Full Stack Web Development with PHP, Laravel & Vue JS (1).jpg" alt="">
                    <span class="details3">Full Stack Web Development with PHP, Laravel & Vue JS</span>
                    <p>লারাভেল শেখার ব্যাসিক ট্যু এডভান্সড রোডম্যাপ</p>
                    <div class="dekhun"style="margin-top: 45px;">দেখুন</div>
               </div>
            </div>
            <div class="webinar">
                <div class="inside-webniar">
                    <img src="../images/UI-UX-Interview-Preparation.jpg" alt="">
                    <span class="details4">UI-UX Design Job Interview Preparation</span>
                    <p>ইন্টারভিউ বোর্ড ক্র্যাক করার হ্যাক</p>
                    <div class="dekhun"style="margin-top: 65px;">দেখুন</div>
               </div>
            </div>
        </div>
          
        <div class="section-5-button">
             <span>See all webinars</span>
             <img src="../icons/arrow-right-line.svg" alt="">
        </div>
        <div class="img1"><img src="../images/setting-2.svg" alt=""></div>
<div class="img2"><img src="../images/megaphone.svg" alt=""></div>
<div class="img3"><img src="../images/idea-lightbulb.svg" alt=""></div>
    </div>
    
</div>


